In [13]:
!pip install pandas
import pandas as pd
dataset = pd.read_csv('try1.csv',sep=';')
dataset.head(13669)

,TIME,TRANSACTION_ID,AMOUNT,CLIENT_ID,BANK_ID,CITY,OPERATION_TYPE,FRAUD_FLAG
0,2023-05-01,525471381920,1560,BD308B1E6247DAD7E7FAC425AB3CADA464C26F2A0B47EB...,6,VSEVOLOZHSK,Снятие через банкоматы партнеров,0
1,2023-05-01,525471383640,1560,BD308B1E6247DAD7E7FAC425AB3CADA464C26F2A0B47EB...,6,VSEVOLOZHSK,Снятие через банкоматы партнеров,0
2,2023-05-01,525487382296,290,2E021B8D64532F869A14167A6075996B903D52ED66B3AD...,6,OBNINSK,Снятие через банкоматы партнеров,0
3,2023-05-01,525364464247,310,B27401D40DC566402D47BA342DDD6A1457E91F3D211D0B...,3,CHITA G,Пополнение через банкоматы партнеров,0
4,2023-05-01,525513617413,140,B566176D8952A9B1AA4A25D1574AE1CA9EA57C2AB4F29C...,2,DALNEGORSK,Снятие через чужие банкоматы,0
...,...,...,...,...,...,...,...,...
13664,2023-05-03,525905030732,90,46CA0098FC609C5FCC2E8A8580C000EB28F6CE5AF8FE4F...,5,KRASNODAR,Пополнение через банкоматы партнеров,0
13665,2023-05-03,525725818861,1560,7B121CBD0D75BC74146F06C6A888A78C57F9A5E52918FA...,1,UFA,Снятие через наши банкоматы,0
13666,2023-05-03,525506440585,160,B850A378DD9C906AA44C6A20D38194AB0A2A5F81D9E746...,1,КУЙБЫШЕВ,Пополнение через наши банкоматы,0
13667,2023-05-03,525668490636,630,847B1B0F5B7509E2B052CCA2E22265447EC683C13EBCF8...,1,NOVOSIBIRSK,Снятие через наши банкоматы,0
13668,2023-05-03,525717924740,780,D2B25062114A8ED33A519A12B8C2DD3F2618BDC40C5765...,1,GORNO ALTAYSK,Снятие через наши банкоматы,0

In [14]:
dataset['TIME'] = pd.to_datetime(dataset['TIME'])

In [15]:
dataset['YEAR_MONTH'] = dataset['TIME'].dt.to_period('M')

In [16]:
result = dataset.groupby(['BANK_ID', 'YEAR_MONTH']).agg(
    total_turnover=('AMOUNT', 'sum'),
    operation_count=('TRANSACTION_ID', 'count')
).reset_index()

In [17]:
result['YEAR_MONTH'] = result['YEAR_MONTH'].astype(str)

In [18]:
result = result.sort_values(by=['BANK_ID', 'YEAR_MONTH'])

In [19]:
print(result)

     BANK_ID YEAR_MONTH  total_turnover  operation_count
0          1    2023-05       123245440           163436
1          1    2023-06       119906420           170483
2          1    2023-07       113390150           163204
3          2    2023-05        10761540            26413
4          2    2023-06        11856220            28705
..       ...        ...             ...              ...
134       46    2023-06           21520               68
135       46    2023-07           28740               79
136       47    2023-05            5180               25
137       47    2023-06           14380               45
138       47    2023-07            8890               31

[139 rows x 4 columns]