In [24]:
!pip install pandas
import pandas as pd
dataset = pd.read_csv('try1.csv',sep=';')
dataset.head()

,TIME,TRANSACTION_ID,AMOUNT,CLIENT_ID,BANK_ID,CITY,OPERATION_TYPE,FRAUD_FLAG
0,2023-05-01,525471381920,1560,BD308B1E6247DAD7E7FAC425AB3CADA464C26F2A0B47EB...,6,VSEVOLOZHSK,Снятие через банкоматы партнеров,0
1,2023-05-01,525471383640,1560,BD308B1E6247DAD7E7FAC425AB3CADA464C26F2A0B47EB...,6,VSEVOLOZHSK,Снятие через банкоматы партнеров,0
2,2023-05-01,525487382296,290,2E021B8D64532F869A14167A6075996B903D52ED66B3AD...,6,OBNINSK,Снятие через банкоматы партнеров,0
3,2023-05-01,525364464247,310,B27401D40DC566402D47BA342DDD6A1457E91F3D211D0B...,3,CHITA G,Пополнение через банкоматы партнеров,0
4,2023-05-01,525513617413,140,B566176D8952A9B1AA4A25D1574AE1CA9EA57C2AB4F29C...,2,DALNEGORSK,Снятие через чужие банкоматы,0

In [14]:
dataset['TIME'] = pd.to_datetime(dataset['TIME'])

In [15]:
dataset['YEAR_MONTH'] = dataset['TIME'].dt.to_period('M')

In [16]:
result = dataset.groupby(['BANK_ID', 'YEAR_MONTH']).agg(
    total_turnover=('AMOUNT', 'sum'),
    operation_count=('TRANSACTION_ID', 'count')
).reset_index()

In [17]:
result['YEAR_MONTH'] = result['YEAR_MONTH'].astype(str)

In [18]:
result = result.sort_values(by=['BANK_ID', 'YEAR_MONTH'])

In [25]:
pd.set_option("display.max_rows", 200)
print(result)

     BANK_ID YEAR_MONTH  total_turnover  operation_count
0          1    2023-05       123245440           163436
1          1    2023-06       119906420           170483
2          1    2023-07       113390150           163204
3          2    2023-05        10761540            26413
4          2    2023-06        11856220            28705
5          2    2023-07        11414060            26809
6          3    2023-05        22473630            38938
7          3    2023-06        23682230            41712
8          3    2023-07        44771450            45866
9          4    2023-05         4413120            13745
10         4    2023-06         4501150            13743
11         4    2023-07         3947890            12445
12         5    2023-05        10972530            19768
13         5    2023-06        11552540            20914
14         5    2023-07        10878380            19826
15         6    2023-05         3570600             7087
16         6    2023-06         3813210             7980
17         6    2023-07         3168760             6270
18         7    2023-05         1841650             2204
19         7    2023-06         1725040             2514
20         7    2023-07         1570160             2298
21         8    2023-05          928860             1892
22         8    2023-06         1000220             2113
23         8    2023-07          963940             1903
24         9    2023-05          750170              895
25         9    2023-06          952820              987
26         9    2023-07         1250830             1494
27        10    2023-05          501140             1024
28        10    2023-06          527850             1118
29        10    2023-07          466250             1010
30        11    2023-05          332320              728
31        11    2023-06          392160              876
32        11    2023-07          358110              699
33        12    2023-05         1128640              994
34        12    2023-06         1109000              934
35        12    2023-07         1341440             1041
36        13    2023-05          891440             1126
37        13    2023-06         1070800             1224
38        13    2023-07          906470             1067
39        14    2023-05          786030              869
40        14    2023-06          821750              886
41        14    2023-07          676820              715
42        15    2023-05          269920              613
43        15    2023-06          271740              635
44        15    2023-07          230490              529
45        16    2023-05          286770              627
46        16    2023-06          268750              585
47        16    2023-07          212030              460
48        17    2023-05          295300              482
49        17    2023-06          381950              452
50        17    2023-07          557980              464
51        18    2023-05           99810              302
52        18    2023-06           85600              283
53        18    2023-07           83220              284
54        19    2023-05          143920              311
55        19    2023-06          168820              365
56        19    2023-07          131350              278
57        20    2023-05          224790              404
58        20    2023-06          173730              328
59        20    2023-07          120060              246
60        21    2023-05          134480              234
61        21    2023-06          137130              264
62        21    2023-07          102470              211
63        22    2023-05          120140              207
64        22    2023-06           83340              147
65        22    2023-07           72300              130
66        23    2023-05          104770              224
67        23    2023-06           89450              183
68        23    2023-07          110230              218
69        24    2023-05           75630              177
70        24    2023-06           59260              140
71        24    2023-07           64460              133
72        25    2023-05          150600              141
73        25    2023-06           99320              108
74        25    2023-07          108790              106
75        26    2023-05          273830              371
76        26    2023-06          283560              379
77        26    2023-07          250610              331
78        27    2023-05          105630              135
79        27    2023-06           89000              173
80        27    2023-07           61520              116
81        28    2023-05          265580              430
82        29    2023-05            5590               58
83        29    2023-06            3490               34
84        29    2023-07            7950               80
85        30    2023-05           33610              150
86        30    2023-06           17260              101
87        30    2023-07           20200               91
88        31    2023-05           29780               79
89        31    2023-06           27030               72
90        31    2023-07           56910              122
91        32    2023-05           16920               79
92        32    2023-06           20410               73
93        32    2023-07           19800               90
94        33    2023-05            3470               43
95        33    2023-06            5210               65
96        33    2023-07            1690               21
97        34    2023-05           28410               79
98        34    2023-06           20410               60
99        34    2023-07           11960               61
100       35    2023-05            6990               25
101       35    2023-06            8120               24
102       35    2023-07           49600               84
103       36    2023-05           19160               69
104       36    2023-06           30550               86
105       36    2023-07           28350               80
106       37    2023-05            5820               23
107       37    2023-06            7260               20
108       37    2023-07            8060               30
109       38    2023-05           11450               35
110       38    2023-06            8770               29
111       38    2023-07           10540               30
112       39    2023-05            6120               29
113       39    2023-06           13570               58
114       39    2023-07           16590               63
115       40    2023-05          106500              124
116       40    2023-06          113270              148
117       40    2023-07          109430              155
118       41    2023-05           57070              112
119       41    2023-06           44320               88
120       41    2023-07           72780              131
121       42    2023-05           21820               51
122       42    2023-06           35000               55
123       42    2023-07           40000              131
124       43    2023-05            4030               26
125       43    2023-06            5160               34
126       43    2023-07            4670               33
127       44    2023-05           29110               42
128       44    2023-06           36480               44
129       44    2023-07           38750               49
130       45    2023-05           17540               42
131       45    2023-06           15110               30
132       45    2023-07            5620               20
133       46    2023-05           25690               76
134       46    2023-06           21520               68
135       46    2023-07           28740               79
136       47    2023-05            5180               25
137       47    2023-06           14380               45
138       47    2023-07            8890               31